<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onReset(resetForm)" #resetForm="ngForm" appPasswordsMatches *ngIf="!isLoading">

    <mat-form-field>
      <input type="password" name="password"
       ngModel matInput placeholder="Enter the new password"
       #passwordInput="ngModel"
       required
       autocomplete="new-password">
      <mat-error *ngIf="passwordInput.invalid"> Please enter a valid password </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
      type="password" name="passwordConfirm"
      ngModel matInput placeholder="Confirm the password"
      #passwordConfirmInput="ngModel"
      required
      autocomplete="new-password">
      <mat-error *ngIf="passwordConfirmInput.errors?.incorrect && (passwordConfirmInput.dirty || passwordConfirmInput.touched)"> The passwords are not the same </mat-error>
    </mat-form-field>


    <button
     mat-raised-button
     color="primary"
     type="submit"
     *ngIf="!isLoading"
     [disabled]="passwordConfirmInput.invalid"
     >Change Password </button>


  </form>

</mat-card>
