<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onReset(resetForm)" #resetForm="ngForm" *ngIf="!isLoading">

    <mat-form-field>
      <input type="password" name="password"
       ngModel matInput placeholder="Enter the new password"
       #passwordInput="ngModel"
       required
       autocomplete="new-password">
      <mat-error *ngIf="passwordInput.invalid || !passwordsMatch"> Please enter a valid password </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
      type="password" name="password2"
      ngModel matInput placeholder="Confirm the password"
      #password2Input="ngModel"
      required
      autocomplete="new-password">
      <mat-error *ngIf="!passwordsMatch">Confirm the password</mat-error>
    </mat-form-field>


    <button
     mat-raised-button
     color="primary"
     type="submit"
     *ngIf="!isLoading">Change Password </button>
     <mat-error *ngIf="password2Input.invalid || !passwordsMatch" > The passwords doesn't match </mat-error>

  </form>

</mat-card>
