<div class="grid-container">
  <h1 class="mat-h1" *ngIf="mode === 'single'">
    Personal Info of {{ nameAndSurname }}
  </h1>
  <h1 class="mat-h1" *ngIf="mode === 'compare'">Patients Comparison</h1>
  <h1 class="mat-h1" *ngIf="mode === 'multiple'">General Dashboard</h1>
  <div fxLayout="column" fxLayoutAlign="center none">
    <form [formGroup]="formGroup">
      <div fxFlex="50" >
        <button class="button-left"

          mat-stroked-button
          [class.mat-raised-button]="days === 1"
          color="primary"
          (click)="onChangeDays(1)"
        >
          1 Day
        </button>
        <button class="button-middle"
          mat-stroked-button
          [class.mat-raised-button]="days === 7"
          color="primary"
          (click)="onChangeDays(7)"
        >
          7 Days
        </button>
        <button class="button-right"
          mat-stroked-button
          [class.mat-raised-button]="days === 30"
          color="primary"
          (click)="onChangeDays(30)"
        >
          1 Month
        </button>
      </div>

      <!--<mat-label class="search-label">Date</mat-label>-->
      <div fxFlex="30" class="date-container">
        <input
          class="date-input"
          matInput
          [min]="minDate"
          [max]="maxDate"
          formControlName="datePicked"
          [matDatepicker]="picker"
          (dateChange)="onDateChanged($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker
          touchUi
          startView="multi-year"
          #picker
          disabled="false"
        ></mat-datepicker>
      </div>

      <mat-form-field class="selector-class wrapper-separation" appearance="fill" *ngIf="mode === 'compare'">
        <mat-label>Patient 1</mat-label>
        <mat-select
          (selectionChange)="selectionChanged($event, 1)"
          formControlName="patient1"
        >
          <mat-option *ngFor="let patient of patients" [value]="patient">{{
            patient.name + " " + patient.surname
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="selector-class" appearance="fill" *ngIf="mode === 'compare'">
        <mat-label>Patient 2</mat-label>
        <mat-select
          (selectionChange)="selectionChanged($event, 2)"
          formControlName="patient2"
        >
          <mat-option *ngFor="let patient of patients" [value]="patient">{{
            patient.name + " " + patient.surname
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <mat-card *ngIf="mode === 'single' && rol === 'responsible'">
    <mat-card-title>{{name }} {{surname}} </mat-card-title>
    <mat-card-subtitle> MMS: {{mms}} TINETTI: {{tinetti}} GET UP AND GO: {{tinetti}}</mat-card-subtitle>
    <mat-card-content> DESCRIPTION: {{description}}</mat-card-content>
</mat-card>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="dashboard-card"
      [class.comments]="card.title=== 'Comments'">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
            <!--<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" >
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>-->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content
          class="dashboard-card-content"
          *ngIf="
            card.title.toLowerCase() !== 'insole'.toLowerCase() &&
              card.title.toLowerCase() !== 'comments'.toLowerCase() &&
              card.title.toLowerCase() !== 'insole2'.toLowerCase();
            else insole
          "
        >
          <div>
            Card Content Here
            <div class="chart" style="position: relative; min-height: unset;">
              <div id="chart-container">
                <canvas *ngIf=" card.title.toLowerCase() !== 'all users data' "
                  #myCanvas
                  id="canvas"
                  width="750"
                  height="150"
                  baseChart
                  [chartType]="chartType"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="chartOptions"
                ></canvas>
                <canvas  *ngIf="
                card.title.toLowerCase() === 'all users data'   "
                  #myCanvas
                  id="canvas"
                  width="750"
                  height="300"
                  baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="[]"
    [legend]="barChartLegend"
    [chartType]="barChartType"
                ></canvas>

              </div>
            </div>
          </div>
        </mat-card-content>
        <ng-template #insole>
          <mat-card-content style="max-height: 80%;position: relative;
          height: 0;
          width: 100%;
          padding: 0;
          padding-bottom: 100%; "
            class="dashboard-card-content"
            *ngIf="
              card.title.toLowerCase() === 'insole'.toLowerCase();
              else comments
            "
          >
            <app-insole></app-insole>
          </mat-card-content>
        </ng-template>

        <ng-template #comments>
          <mat-card-content
            class="dashboard-card-content comment-card"
            *ngIf="
              card.title.toLowerCase() !== 'insole2'.toLowerCase();
              else secondInsole
            "
          >
            <app-comment-create></app-comment-create>
            <app-comment-list></app-comment-list>
          </mat-card-content>
        </ng-template>

        <ng-template #secondInsole>
          <mat-card-content style="max-height: 80%;position: relative;
          height: 0;
          width: 100%;
          padding: 0;
          padding-bottom: 100%; "
          class="dashboard-card-content comment-card">
            <app-second-insole></app-second-insole>
          </mat-card-content>
        </ng-template>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
