/*Posicion fija de la barra*/
.search-bar{
  position: fixed;
  top: 70px;
    z-index: 1;
    display: block;
    height: 35%;
    overflow: auto;
    width: 69%;
}
.mat-card {
background-color: #f3e5f5;
  margin-bottom: 10px;
  z-index: 1;
  position: fixed;
    width: 67%;
    top:64px;
    padding: 8px;


}
.capitalize-text{

    text-transform: capitalize;

}


@media screen and (max-width: 599px) {
  .mat-card {
    margin-left: 0;
    margin-right:0;
  }

}


.radio-group {

  flex-direction: row;
  margin: 15px 0;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;

}
.user-icon {
  font-size: 1.2em;
}

.search-label{
  margin:1em;
}


.inside-card{
  /*width: auto;
  margin-left: 9px;
    margin-right: 4px;
    padding: 11px;*/
    display: flex;
    /*justify-content: center;
    align-items: center;*/

}





.date-container{
  vertical-align: middle;

}



.age-container{
  margin-top: 10px;

}

.mat-input-element{
  width: 100px;
}

.mat-form-field{
  display: block;
  width: 180px;
}

.mat-expansion-panel{
  margin-bottom: 10px;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child{
  margin-bottom: 10px;
}



