
mat-form-field,
textarea{
  width: 100%;
}

mat-spinner{
  margin:auto;
}

input[type="file"]{
  visibility: hidden;
  display:none;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.mat-card {
  margin: auto;
  /*width: 60% ;*/
}

.mat-card-actions {
  text-align: right;
  margin-bottom: 0;
}
.mat-form-field {
  /*text-align: center;*/
  margin: 5px;
  /*width: 80%;*/
}

mat-form-field{
  width: 100%;
}

.boton{
  text-align: right;
}

.file-field{
  position:relative;
}

.mat-stroked-button{
  float: left;
}

.file-path-wrapper{
  vertical-align: middle;
    margin-top: 8px;
    margin-left: 8px;
}
.radio-group {

  flex-direction: row;
  margin: 23px 20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;

}

::ng-deep .mat-form-field-wrapper{
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
}

.margin-auto{
  margin-top: auto;
}
