.mat-card {
  margin: auto;
  width: 60% ;
}

.mat-card-actions {
  text-align: right;
  margin-bottom: 0;
}
.mat-form-field {
  text-align: center;
  margin: 5px;
  /*width: 80%;*/
}

mat-form-field{
  width: 100%;
}

mat-spinner{
  margin:auto;
}
