<h1 fxHide fxShow.xs>XS</h1>
<h1 fxHide fxShow.sm>SM</h1>
<h1 fxHide fxShow.md>MD</h1>
<h1 fxHide fxShow.lg>LG</h1>
<h1 fxHide fxShow.xl>XL</h1>
<app-filters-bar></app-filters-bar>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<div
  fxLayout.xs="column"
  fxLayout="row wrap"
  fxLayoutGap="10px"
  ngClass.gt-xs="ml-10"
  *ngIf="profiles.length > 0 && !isLoading"
>
  <mat-card
    fxFlex.sm="0 1 calc(50%-10px)"
    fxFlex.md="0 1 calc(33%-10px)"
    fxFlex.gt-md="0 1 calc(25%-10px)"
    *ngFor="let profile of profiles"
  >
    <mat-card-header>

      <div mat-card-avatar *ngIf="profile.rol === 'patient'">
        <fa-icon
          class="user-icon"
          [icon]="faWalking"
        ></fa-icon>
      </div>
      <div mat-card-avatar *ngIf="profile.rol === 'undefined'">
        <fa-icon
          class="user-icon"
          [icon]="faQuestion"
        ></fa-icon>
      </div>
      <div mat-card-avatar *ngIf="profile.rol === 'responsible'">
        <fa-icon
          class="user-icon"
          [icon]="faUserMd"
        ></fa-icon>
      </div>
      <div mat-card-avatar *ngIf="profile.rol === 'admin'">
        <fa-icon
          class="user-icon"
          [icon]="faUserCog"
        ></fa-icon>
      </div>
      <mat-card-title>{{ profile.name }}</mat-card-title>
      <mat-card-subtitle> {{ profile.surname }}</mat-card-subtitle>
      <div fxFlex>
      <div class="button-container">
        <button *ngIf="rol === 'responsible' && profile.responsibles && profile.responsibles.includes(userId)" mat-mini-fab color="accent" aria-label="Add to your patients" (click)="modifyMyPatients(profile.userId, false)">
          <mat-icon>bookmark</mat-icon>
        </button>
        <button *ngIf="rol === 'responsible' && (!profile.responsibles || !profile.responsibles.includes(userId))" mat-mini-fab color="" aria-label="Add to your patients" (click)="modifyMyPatients(profile.userId, true)">
          <mat-icon>bookmark</mat-icon>
        </button>
      </div>
    </div>

    </mat-card-header>

    <img
      mat-card-image
      [src]="profile.userImagePath"
      [alt]="profile.name"
      class="image"
    />
    <mat-card-content>Primary </mat-card-content>
    <mat-card-actions>Container </mat-card-actions>
    <mat-divider></mat-divider>
    <mat-card-actions
      *ngIf=" userIsAuthenticated &&(
        (userId === profile.userId) ||
        (rol === 'admin') ||
        (rol === 'responsible') )
      "
    >
      <mat-form-field
        *ngIf="userIsAuthenticated && rol === 'admin' || userId !== profile.userId"
      >
        <mat-label>Edit Role</mat-label>
        <mat-select
          [(value)]="profile.rol"
          (selectionChange)="onChangeUserRol(profile.userId, $event.value)">
          <mat-option value="undefined">Undefined</mat-option>
          <mat-option value="patient">Patient</mat-option>
          <mat-option value="responsible">Responsible</mat-option>
          <mat-option value="admin">Admin</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/dashboard/', profile.userId]"
      >
        INFO
      </button>
      <button
        mat-button
        color="accent"
        [routerLink]="['/profile/', profile.userId]"
      >
        EDIT
      </button>
      <button
        *ngIf="userIsAuthenticated && rol === 'admin'"
        mat-button
        color="warn"
        (click)="onDelete(profile.userId)"
      >
        DELETE
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<mat-paginator
  [length]="totalProfiles"
  [pageSize]="profilesPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)"
  *ngIf="profiles.length > 0"
></mat-paginator>
<p class="info-text mat-body-2" *ngIf="profiles.length <= 0 && !isLoading">
  There are not profiles to show
</p>
