:host{
  display:block;
  margin-top: 1rem;
}

.info-text{
  text-align: center;
}

mat-spinner{
  margin:auto;
}

mat-paginator{
  margin-top: 1rem;
}
/* estaba a 100%*/
.post-image {
  width: 12rem;
}

.mat-form-field {
  width: 100%;
  text-align: center;
}
.mat-card-actions {
  text-align: right;
  margin-bottom: 0;
}
.mat-card-title{
  font-size: 16px;
}

.mat-card-image{
  margin: 40px;
  width: calc(80% - 40px);
}


.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

mat-card {
  margin-bottom: 10px;

}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.user-icon {
  font-size: 3em;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
  margin: 0px 4px;
}


.button-container{
  float: right;
}
/*
.mat-fab {
  width: 40px;
    height: 40px;
}
*/

.grey-button{
  background-color: lightgrey;
}

.spacer{
  height: 69px;
}



